<!-- Basic form layout section start -->
<section id="basic-form-layouts">
  <!-- <div class="row text-left">
    <div class="col-sm-12">
      <div class="content-header">Send Invitation</div>
    </div>
  </div>-->

  <div class="row text-left match-height">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header pb-2">
          <h4 class="card-title" id="basic-layout-form-center">
            Send Email Invitation
          </h4>
              <div class="form">
              <div class="row justify-content-md-center">
                <div class="col-md-6">
                  <div class="form-body">
                    <div class="form-group">
                      <label for="area">Area</label>
                       <select name="area"  [(ngModel)]="area" 
                        (change)='getDirectorByArea()'
                        class="form-control">
                        <option
                          *ngFor="let area of areaList"
                          [value]="area.id"
                          >{{ area.name }}</option
                        >
                      </select>
                    </div>

                    <div class="form-group">
                      <label for="email">Email</label>
                         <input type="email" name="email" placeholder="Enter Email"
                        [(ngModel)]="email"  class="form-control"/>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-actions center" style="text-align:center;">
                <button class="btn btn-raised btn-primary" (click)="sendEmailInvitation();">
                  <i class="fa fa-check-square-o"></i> Send
                </button>
              </div>
              </div>
        </div>        
      </div>
    </div>

    <div class="col-md-12">
    <div class="card">
        <div class="card-header pb-2">
          <h4 class="card-title" id="basic-layout-form-center">
            Send Invitation
          </h4>
          </div>
           <div class="card-content pb-2">
           <table class="table table-condensed">
           <thead>
           <th>User</th>
           <th>Email</th>
           <th>Area</th>
           <th>Experience</th>
            <th>Location</th>
            <th></th>
           </thead>
           <tbody>
           <tr *ngFor="let data of inviteeList">
           <td>{{data.user_object?.name}}</td>
            <td>{{data.user_object?.email}}</td>
           <td>{{data.area_object?.name}}</td>
           <td>{{data.exp}}</td>
           <td>{{data.user_object?.location}}</td>
            <td>
             <button class="btn btn-raised btn-primary" (click)="sendInvitation(data.user);">
                  <i class="fa fa-check-square-o"></i> Send
                </button>
            </td>
           </tr>
           </tbody>
           </table>
           </div>

    </div>
    </div>
    
  </div>
</section>
<!-- // Basic form layout section end -->
